body{ 
    text-align: center;
    background: linear-gradient(#0ba04c,#d8035f,#960fbe,#5e6df3);
}
  
h1{
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 2px 4px 5px black
}
  
#calc{
    background:linear-gradient(135deg, orange 60%, cyan);
    width: 350px;
    height: 450px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    margin: 80px auto;
    box-shadow: 0px 0px 3px 6px rgba(145, 132, 132, 0.8)
}
  
#display{
    margin-bottom: 20px;
    height: 30px;
    width: 10em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(183, 194, 31);
    text-align: right;
    font: 20px bold;
}
  
#keys{
    background-color: o;
    width: 51px;
    height: 45px;
    margin: 14px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px 1px black;
    outline: none;
    text-align: left;
}
  
#equal{
    width: 150px;
    height: 35px;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px black;
}

h3{
    display: block;
    text-shadow: 2px solid black;
    margin-left: 90px;
    border:3px solid rgb(33, 2, 90);
    border-radius: 3px;
    width: 150px;
}    