<%- include("partials/header") -%> 
    <h1>Compose</h1>
 <form action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" name="postTitle" type="text">    
    <label>Post</label>
    <textarea class="form-control" name="postBody" id="" cols="30" rows="5"></textarea>
    
   </div> 
   <button type="submit" class="btn btn-primary" name="button" >Publish</button>
 </form>    
<%- include("partials/footer") -%> 