body {
  display: inline-block;
  text-align: center;
  background-image: url("contact-form-background.jpeg");
  height: 100px;
  width: 100px;
}

.top {}

.contact-form {}

.contact-form-content {}

.contact-form-content-name {
  
}

.contact-form-content-email {}

.contact-form-content-message {}

.contact-form-content-submit {}
