@import url("https://fonts.googleapis.com/css2?family=poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins",sans-serif;
    margin: 0;
    min-height: 100vh;
}
button{
    background-color: rebeccapurple;
    color: white;
    padding: 1rem;
    border-radius: 4px;
    border: none;
    font-family: inherit;
}

.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
.popup-container.active{
    display: flex;

} 
.popup{
    background-color: white;
    padding: 2rem;
    width: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
    position: relative;
}

.popup button{
    background-color: white;
    color: rebeccapurple;
    position: absolute; 
    top:10px;
    right: 10px;
    font-size:2rem;
    
}

.btnClose:hover{
    border: 4px solid black ;
}